<div class="menu-title">
    <p class="color-highlight">Home Loan</p>
    <h1>Mortgage Calculator</h1>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="divider divider-margins mt-3 mb-0"></div>
<div class="content mt-0">

    <div class="calconic-calculator" data-calculatorid="605b9f78ea9030001ee7ef45"></div>



</div>