<div class="card card-style">
    <h4 class="font-23 text-center pt-3 mt-3 cb-brand">Coldwell Banker</h4>
    <p class="boxed-text-l mb-4 line-height-s">
        Coldwell Banker® and the Coldwell Banker Logo are registered service marks owned by Coldwell Banker Real Estate LLC. R & D Mountain Ventures LLC, fully supports the principles of the Fair Housing Act and the Equal Opportunity Act. Each office is independently
        owned and operated. Any services or products provided by independently owned and operated franchisees are not provided by, affiliated with or related to Coldwell Banker Real Estate LLC nor any of its affiliated companies.
    </p>
    <div class="text-center mb-4">
        <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-phone"><i class="fa fa-phone"></i></a>
        <a href="#" data-menu="menu-share" class="icon icon-xs rounded-sm mr-1 shadow-l bg-red-dark"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-highlight color-white"><i class="fa fa-arrow-up"></i></a>
    </div>
    <div class="divider mb-3"></div>
    <div class="row text-center mb-3 pl-3 pr-3">
        <a class="font-11 col-4" href="#">Privacy Policy</a>
        <a class="font-11 col-4" href="#">Terms of Service</a>
        <a class="font-11 col-4" href="#">Contact Support</a>
    </div>
</div>