<div id="menu-about" class="menu menu-box-left rounded-0" data-menu-width="cover" style="display: block; width: 100%;">

    <div class="card rounded-0 bg-7" data-card-height="500" style="height: 500px;">
        <div class="card-top pt-4 ps-3 pe-3">
            <a href="#" class="close-menu icon icon-s rounded-l bg-theme color-theme "><i class="fa fa-arrow-left"></i></a>
            <a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3"><i class="fa fa-home"></i></a>
            <a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-light" data-toggle-theme=""><i class="fa fa-moon"></i></a>
            <a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-dark" data-toggle-theme=""><i class="fa fa-sun"></i></a>
        </div>
        <div class="card-bottom ps-3 pe-3 mb-5 pb-4">
            <h1 class="color-white font-36">Coldwell Banker</h1>
            <h1 class="color-white font-36">Resort Realty</h1>
            <p class="color-white opacity-50">
                Offices on Schweitzer Mountain & Downtown Sandpoint
            </p>
        </div>
        <div class="card-overlay opacity-70 bg-gradient"></div>
    </div>

    <div class="card card-style card-full-right" style="margin-top:-100px; margin-bottom:-80px; z-index:1">
        <div class="content">
            <p class="mb-n1 color-highlight font-600">The Awesome</p>
            <h1>Schweitzer Mountain & Downtown Sandpoint</h1>
            <p> We specialize in Sandpoint Idaho real estate, North Idaho waterfront property and Schweitzer Mountain real estate. Serving the whole Panhandle from Bonners Ferry to Coeur d'Alene. For over 30 years, it's been our privilege and pleasure to
                help our neighbors navigate the Sandpoint Idaho real estate market. So many things have changed over the years, it's easy to overlook the things that haven't changed at all Our classic brand of friendly, honest, person to person business
                may be old fashion, never seems to go out of style. We believe a real estate agent should do more for you than just show property.</p>

            <div class="row text-center row-cols-1 mb-0">
                <a class="col mb-4" href="#" title="Vynil and Typerwritter"><img src="images/pictures/35w.png" data-src="images/pictures/35w.png" class="preload-img img-fluid rounded-xs entered loaded" alt="img" data-ll-status="loaded"></a>

            </div>

            <h4>Sandpoint Zillow Alternative</h4>
            <p class="pb-4">With all the features of the most popular real estate apps. Think of it like Sandpoint Idaho Zillow.</p>
            <a href="#" data-menu="about" class="btn btn-m bg-highlight rounded-s btn-center-l shadow-l font-700 text-uppercase">Download App</a>
            <div class="divider"></div>

        </div>
    </div>

    <div class="card rounded-0 bg-1" data-card-height="400" style="height: 400px;">
        <div class="card-center">
            <h1 class="color-white font-italic text-center font-40">"We Got You"</h1>
            <p class="color-white text-center mb-0 mt-n2">The Best Real Estate Office in Sandpoint</p>
        </div>
        <div class="card-overlay bg-gradient"></div>
    </div>

    <div class="card card-style card-full-left" style="margin-top:-100px; z-index:1">
        <div class="content">
            <p class="mb-n1 color-highlight font-600">Coldwell Banker Resort Realty</p>
            <h1>North Idaho Real Estate Experts</h1>
            <p>Our team of real estate professionals are all experts at reading the local real estate market and have been watching these properties change hands for years. We will let you know if something is likely to change in your favor or if it's just
                a waste of your time. Our agents are experienced negotiators, working for you to achieve the absolute best outcome, when buying or selling they're saving you money. Our agents are trained to spot danger in the fine print, keeping you safe
                from unethical business practices, scammers and predatory loans. We will keep you out of trouble so you can focus on what matters. Coldwell Banker Resort Realty has been and will remain, your guide to Sandpoint, Idaho real estate.</p>


        </div>
    </div>
    <a href="#" class="close-menu btn btn-l rounded-sm font-600 btn-m btn-margins gradient-red">Go Back</a>
    <div class="divider"></div>


</div>