/*! CSS Used from: Embedded */

*,
:after,
:before {
    box-sizing: border-box;
}

details,
summary {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

[role=button] {
    -webkit-appearance: none;
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important;
    }
    h2,
    p {
        orphans: 3;
        widows: 3;
    }
    h2 {
        page-break-after: avoid;
    }
    .label {
        border: 1px solid #000;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row,
.row>* {
    box-sizing: border-box;
}

.col-sm-4,
.col-sm-6 {
    width: 100%;
}

@media only screen and (min-width:769px) {
    .col-sm-4 {
        width: 30.72917%;
    }
    .col-sm-6 {
        width: 48.04688%;
    }
}

@media only screen and (min-width:993px) {
    .col-md-10 .col-sm-4 {
        width: 37.80933%;
    }
    .col-md-10 .col-sm-6 {
        width: 58.53955%;
    }
    .col-sm-4 {
        width: 31.3172%;
    }
    .col-sm-6 {
        width: 48.4879%;
    }
}

@media only screen and (min-width:1201px) {
    .col-md-10 .col-sm-4 {
        width: 38.19095%;
    }
    .col-md-10 .col-sm-6 {
        width: 58.79397%;
    }
    .col-sm-4 {
        width: 31.66667%;
    }
    .col-sm-6 {
        width: 48.75%;
    }
}

input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type=range] {
    display: block;
    width: 100%;
}

input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

h2 {
    color: #231f20;
}

h2 {
    line-height: 1.25;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
}

@media (max-width:1199px) {
    h2 {
        font-size: 1.75rem;
    }
}

@media (max-width:991px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width:767px) {
    h2 {
        margin-bottom: 18px;
    }
    h2 {
        font-size: 1.375rem;
        margin-top: 18px;
    }
}

p {
    margin: 0 0 30px;
}

.icon {
    line-height: 1;
}

.icon:before {
    font-family: crdIcons!important;
    font-style: normal;
    font-weight: 400!important;
    vertical-align: top;
}

.crdIcons-chevron-down:before {
    content: "\F103";
}

.crdIcons-down-arrow:before {
    content: "\F106";
}

.icon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: .2em;
    padding-right: .2em;
}

.icon:before {
    vertical-align: bottom;
}


/*! CSS Used from: Embedded */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row,
.row>* {
    box-sizing: border-box;
}

.col-sm-4,
.col-sm-6 {
    width: 100%;
}

@media only screen and (min-width:769px) {
    .col-sm-4 {
        width: 30.72917%;
    }
    .col-sm-6 {
        width: 48.04688%;
    }
}

@media only screen and (min-width:993px) {
    .col-md-10 .col-sm-4 {
        width: 37.80933%;
    }
    .col-md-10 .col-sm-6 {
        width: 58.53955%;
    }
    .col-sm-4 {
        width: 31.3172%;
    }
    .col-sm-6 {
        width: 48.4879%;
    }
}

@media only screen and (min-width:1201px) {
    .col-md-10 .col-sm-4 {
        width: 38.19095%;
    }
    .col-md-10 .col-sm-6 {
        width: 58.79397%;
    }
    .col-sm-4 {
        width: 31.66667%;
    }
    .col-sm-6 {
        width: 48.75%;
    }
}


/*! CSS Used from: https://www.rate.com/assets/styles/grTheme.css */

.font-family-proxima {
    font-family: ProximaNova, Helvetica, Arial, sans-serif;
}

.weight-text-rg {
    font-weight: 400;
}

.weight-text-bd {
    font-weight: 700;
}

.scale-text-tl-md {
    font-size: 2rem;
    line-height: 2.5rem;
}

.scale-text-pr-md {
    font-size: 1rem;
    line-height: 1.5rem;
}

.color-text-slate,
.color-text-slate:active,
.color-text-slate:focus,
.color-text-slate:hover {
    color: #495864;
}

.color-text-white,
.color-text-white:active,
.color-text-white:focus,
.color-text-white:hover {
    color: #fff;
}

.fill-arrow-red {
    background-color: #d13239;
}

.pad-t-xs {
    padding-top: 8px;
    margin-top: 0;
}

.pad-b-lg {
    padding-bottom: 32px;
    margin-bottom: 0;
}

.pad-b-sm {
    padding-bottom: 16px;
    margin-bottom: 0;
}

.pad-b-xs {
    padding-bottom: 8px;
    margin-bottom: 0;
}

.pad-l-sm {
    padding-left: 16px;
    margin-left: 0;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}


/*! CSS Used from: Embedded */

.legend-list-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: .8em;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width:768px) {
    .legend-list-items {
        flex-direction: row;
    }
}

.legend-list-items .legend-list-item-wrapper {
    align-items: center;
    list-style: none;
    font-size: .875rem;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

@media (max-width:768px) {
    .legend-list-items .legend-list-item-wrapper {
        margin: 10px 0;
    }
}

.legend-list-items .legend-list-item-wrapper .legend-list-item-circle {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    border-radius: 50%;
}

.chart-container {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.chart-container .recharts-surface {
    overflow: visible;
}

.chart-container .recharts-pie-label-line {
    stroke: #404143;
}

.font-family-proxima {
    font-family: ProximaNova, Helvetica, Arial, sans-serif;
}

.weight-text-rg {
    font-weight: 400;
}

.weight-text-bd {
    font-weight: 700;
}

.scale-text-tl-md {
    font-size: 2rem;
    line-height: 2.5rem;
}

.scale-text-pr-md {
    font-size: 1rem;
    line-height: 1.5rem;
}

.color-text-slate,
.color-text-slate:active,
.color-text-slate:focus,
.color-text-slate:hover {
    color: #495864;
}

.color-text-white,
.color-text-white:active,
.color-text-white:focus,
.color-text-white:hover {
    color: #fff;
}

.fill-arrow-red {
    background-color: #d13239;
}

.pad-t-xs {
    padding-top: 8px;
    margin-top: 0;
}

.pad-b-lg {
    padding-bottom: 32px;
    margin-bottom: 0;
}

.pad-b-sm {
    padding-bottom: 16px;
    margin-bottom: 0;
}

.pad-b-xs {
    padding-bottom: 8px;
    margin-bottom: 0;
}

.pad-l-sm {
    padding-left: 16px;
    margin-left: 0;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

input:invalid {
    box-shadow: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.calc-container {
    width: 100%;
}

.mortgageCalculatorMod {
    min-height: 375px;
    text-align: center;
}


/*! CSS Used from: Embedded */

.hbhigd {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: rgb(239, 244, 245);
    min-height: 50px;
}

.dKwFjz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
    cursor: text;
}

.dKwFjz::after {
    transform: scaleX(150);
}

.daqe {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0px;
    cursor: text;
}

.daqe::after {
    transform: scaleX(150);
}

.blAKvs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
    cursor: text;
}

.jhgcCC {
    margin-right: 4px;
    background-color: rgb(239, 244, 245);
    color: rgb(73, 88, 100);
    transition: all 0.4s ease 0s;
    transform: scale(1);
}

.jffUKI {
    background-color: rgb(239, 244, 245);
    color: rgb(73, 88, 100);
    transition: all 0.4s ease 0s;
    transform: scale(1);
}

.kdHUFB {
    border: none;
    border-radius: 0px;
    background-color: rgb(239, 244, 245);
    outline: none;
    color: rgb(73, 88, 100);
    overflow: hidden;
    width: 6.5rem;
}

.kdHUFB:invalid {
    box-shadow: none;
}

.dITUxr {
    border: none;
    border-radius: 0px;
    background-color: rgb(239, 244, 245);
    outline: none;
    color: rgb(73, 88, 100);
    overflow: hidden;
    width: 4rem;
}

.dITUxr:invalid {
    box-shadow: none;
}

.iUvtAO {
    border: none;
    border-radius: 0px;
    background-color: rgb(239, 244, 245);
    outline: none;
    color: rgb(73, 88, 100);
    overflow: hidden;
    width: 5.5rem;
}

.iUvtAO:invalid {
    box-shadow: none;
}

.fvikVj {
    border: none;
    border-radius: 0px;
    background-color: rgb(239, 244, 245);
    outline: none;
    color: rgb(73, 88, 100);
    overflow: hidden;
    width: 2rem;
}

.fvikVj:invalid {
    box-shadow: none;
}

.fmLJqj {
    border: none;
    border-radius: 0px;
    background-color: rgb(239, 244, 245);
    outline: none;
    color: rgb(73, 88, 100);
    overflow: hidden;
    width: 6rem;
}

.fmLJqj:invalid {
    box-shadow: none;
}

.cBUlQM {
    margin: 0px;
    transition: all 0.4s ease 0s;
    color: rgb(73, 88, 100);
    position: absolute;
    font-size: 0.75rem;
    transform: translateY(-14px);
}

.hgVeVb {
    margin: 0px;
    transition: all 0.4s ease 0s;
    color: rgb(73, 88, 100);
    position: absolute;
}

.ixhpu {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.tccUV {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

.bJNzrd {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: rgb(73, 88, 100);
    border-radius: 50%;
    margin-left: 0px;
    margin-top: 0px;
}

.bJNzrd::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 6px;
    top: 6px;
    height: 12px;
    width: 12px;
}

.iSGlzN {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: rgb(73, 88, 100);
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
}

.iSGlzN::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 2px;
    top: 2px;
    height: 16px;
    width: 16px;
}

.gojUsB {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    min-height: 50px;
    box-shadow: rgba(37, 40, 42, 0.2) 0px 2px 6px 0px;
}

.hRyHkc {
    appearance: none;
    background: none;
    outline: none;
    margin-top: 8px;
}

.ESDM {
    margin: 0px;
    color: rgb(73, 88, 100);
}

.duJqxr {
    cursor: pointer;
    border-style: solid;
    border-width: 0px;
    border-radius: 1.25em;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 2em;
    height: 2.5em;
    line-height: 1.25em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.jdIvLJ {
    text-align: left;
    margin: 0px auto;
}

.jdIvLJ>summary {
    font-size: 14px;
    list-style-type: none;
    outline: none;
}

.jdIvLJ>summary::-webkit-details-marker {
    display: none;
}

.jdIvLJ>*>i {
    margin-left: 8px;
}

.kuluZF {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
}

.aJDON {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.kyGqMg {
    flex: 1 1 0%;
    margin-right: 1rem;
    text-align: left;
    max-width: 100%;
}

.kyGqMg:last-child {
    margin-right: 0px;
}

.fxDEAu {
    margin-right: 1rem;
    text-align: left;
    max-width: 100%;
    flex: 0 1 0%;
}

.fxDEAu:last-child {
    margin-right: 0px;
}

.bhukqh {
    flex: 1 1 0%;
}

.bhukqh>*>summary {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
}

.tJYXn {
    margin: 0px;
}

.bNqlZf {
    margin: 0px;
}

.bORqII {
    min-height: 2rem;
}

.bCqrrz {
    position: relative;
}

.bCqrrz .legend-list-items {
    flex-direction: column;
}

.cUQTfT {
    display: flex;
}

.iYiiOc {
    flex: 1 1 0%;
    background: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(209, 50, 57);
    font-weight: bold;
}

.iYiiOc:hover {
    cursor: pointer;
}

.bCZwLf {
    flex: 1 1 0%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(169, 178, 187);
}

.bCZwLf:hover {
    cursor: pointer;
}

.kfXRuc {
    position: relative;
}

.cjVzdW {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}


/*! CSS Used from: Embedded */

.css-1pcexqc-container {
    position: relative;
    box-sizing: border-box;
}

.css-1lco1zl-control {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    border: none;
    outline: 0px!important;
}

.css-1lco1zl-control:hover {
    border-color: rgb(179, 179, 179);
}

.css-pv3faz {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px 2px 16px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 0px;
}

.css-1clyufx-singleValue {
    color: rgb(51, 51, 51);
    margin-left: 0px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.css-gj7qu5-dummyInput {
    background: 0px center;
    border: 0px;
    font-size: inherit;
    outline: 0px;
    padding: 0px;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
}

.css-1rpsops {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-right: 16px;
    padding-right: 0px;
    color: rgb(73, 88, 100);
    transition: all 0.4s ease 0s;
    transform: none;
}


/*! CSS Used fontfaces */

@font-face {
    font-family: crdIcons;
    src: url(https://d2zf0x1vlux694.cloudfront.net/releases/prod/2021-03-19_19-25-46-gri/assets/fonts/crdIcons.woff2?cc0f2f9e8f11a4fa8d23380fb6052eac) format("woff2"), url(https://d2zf0x1vlux694.cloudfront.net/releases/prod/2021-03-19_19-25-46-gri/assets/fonts/crdIcons.woff?cc0f2f9e8f11a4fa8d23380fb6052eac) format("woff"), url(https://d2zf0x1vlux694.cloudfront.net/releases/prod/2021-03-19_19-25-46-gri/assets/fonts/crdIcons.ttf?cc0f2f9e8f11a4fa8d23380fb6052eac) format("truetype"), url(https://d2zf0x1vlux694.cloudfront.net/releases/prod/2021-03-19_19-25-46-gri/assets/fonts/crdIcons.eot?cc0f2f9e8f11a4fa8d23380fb6052eac?#iefix) format("embedded-opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    font-display: swap;
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.eot);
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.eot#iefix) format("embedded-opentype"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.woff2) format("woff2"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.woff) format("woff"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.ttf) format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    font-display: swap;
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.eot);
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.eot#iefix) format("embedded-opentype"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.woff2) format("woff2"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.woff) format("woff"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.ttf) format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 700;
    font-display: swap;
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.eot);
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.eot#iefix) format("embedded-opentype"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.woff2) format("woff2"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.woff) format("woff"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.ttf) format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: normal;
    font-display: fallback;
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.eot?#iefix) format("embedded-opentype"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.woff2) format("woff2"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.woff) format("woff"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_regular.ttf) format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    font-display: fallback;
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.eot?#iefix) format("embedded-opentype"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.woff2) format("woff2"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.woff) format("woff"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_semibold.ttf) format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    font-display: fallback;
    src: url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.eot?#iefix) format("embedded-opentype"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.woff2) format("woff2"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.woff) format("woff"), url(https://d2fcchof1bpxmv.cloudfront.net/cms/fonts/proxima_nova_bold.ttf) format("truetype");
}